*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.toggle{

  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.ball-container{
  width: 200px;
  height: 100px;
background-color: blue;
display: flex;
border-radius: 50px;
box-shadow: 6px 8px 40px -9px;
position: relative;


}
/* .left, .right{
  
  width: 100px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 position: relative; 
  
}

.left{
  border-top-left-radius: 40%;
  border-bottom-left-radius: 40%;
  ;
}

.right{
  border-top-right-radius: 40%;
  border-bottom-right-radius: 40%;
} */

.ball{
  height: 90px;
  width: 90px;
  
  position: absolute;
  border-radius: 50%;
}

.dark{
  background-color: #5E8CC2;
  transition: 0.7s ease-in-out;
}

.light{
background-color: #B6BD56;
transition: 0.7s ease-in-out;
}


/* .morning{
  background-image: url();
} */
